<div class="employeeHome">
    <h2>従業員マスター</h2>

    <div class="display-date-container">
        <label for="displayDate">表示年月日</label>
        <input type="date" id="displayDate" name="displayDate" [(ngModel)]="displayDate">
        <button type="button" (click)="onApplyDisplayDate()">表示</button>
    </div>

    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>従業員名</th>
                <th>従業員ID</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.name}}</td>
                <td>{{ employee.employeeId}}</td>
                <td>{{ statusList[employee.status] }}</td>
                <td><button (click)="onEditEmployee(employee)">基本情報編集</button></td>
                <td><button (click)="onOpenPaymentModal(employee)">支給実績登録/編集</button></td>
                <td><button (click)="onDeleteEmployeeDialog(employee)">削除</button></td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div class="button-container">
    <button (click)="onRegisterEmployee()">従業員登録</button>
    </div>


    <app-modal-employee-register
        *ngIf="isModalOpen"
        (closeModal)="onCloseModal()">
    </app-modal-employee-register>

    <app-modal-employee
        *ngIf="isEditModalOpen && selectedEmployee"
        [employee]="selectedEmployee"
        (closeEditModal)="onCloseEditModal()">
    </app-modal-employee>

    <app-modal-payment
        *ngIf="isPaymentModalOpen && selectedEmployee"
        [employee]="selectedEmployee"
        (closePaymentModal)="onClosePaymentModal()">
    </app-modal-payment>

    <div class="modal" *ngIf="isDeleteModalOpen && selectedEmployee">
        <div class="modal-content">
          <p>{{ selectedEmployee.name }} を削除しますか？</p>
          <button (click)="onDeleteEmployee()">削除</button>
          <button (click)="onCloseDeleteModal()">キャンセル</button>
        </div>
      </div>
      
</div>